.score-container {
  padding: 16px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  width: fit-content;
}
.score-text {
  color: white;
  font-family: "Ubuntu", sans-serif !important;
}
.bottom-action-container {
  padding: 16px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 50px;
  justify-content: center;
  gap: 20px;
}
.game-buttons-container {
  width: 100% !important;
  justify-content: space-evenly;
}
.leave-button {
  width: 320px;
  height: 80px;
  font-size: 2rem !important;
  font-family: "Ubuntu", sans-serif !important;
}
.icon-button {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button > img {
  width: 80px;
  height: 80px;
}
@media only screen and (min-width: 1028px) {
  .bottom-action-container {
    justify-content: space-between;
  }
  .game-buttons-container {
    width: 30% !important;
    justify-content: space-between;
  }
}
