.App {
  height: 100vh;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.general-splash-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}
.general-join-game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}
.general-game-page-container {
  height: inherit;
}
