#join-textfield {
  border-radius: 5px;
  background-color: #ed6c02;
}
.MuiTextField-root > label {
  color: white;
}
.back-button {
  position: absolute !important;
  right: 0;
  top: calc(100% - 153px);
  width: 80px;
  height: 80px;
}
.back-button > svg {
  width: 80px;
  height: 80px;
}
.back-icon {
  color: white;
}
