.join-game-container {
  padding: 32px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  gap: 20px;
}
.MuiTextField-root {
  border: 1px solid rgb(237, 108, 2) !important;
}
.MuiTextField-root > label {
  color: rgb(237, 108, 2);
  font-family: "Ubuntu", sans-serif !important;
}
.MuiTextField-root > div > input {
  color: rgb(237, 108, 2);
  font-family: "Ubuntu", sans-serif !important;
}
.back-button {
  position: absolute !important;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
}
.back-button > svg {
  width: 80px;
  height: 80px;
}
.back-icon {
  color: rgb(237, 108, 2);
}
.join-button {
  font-family: "Ubuntu", sans-serif !important;
}
